.blog-post {
	width: clamp(275px, 50%, 60ch);
	margin: 1em auto;
	font-size: 1.375rem;
	padding: 0.125em 3em;
	border-radius: 12px;
	box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12),
		0px 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.progress-bar {
	height: 0.75rem;
	width: 100vw;

	position: sticky;
	top: 0;
	left: 0;
	display: block;
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
}
progress[value]::-webkit-progress-bar {
	background-color: #f0f9ff;
	border-radius: 2px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
		0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}